<div class="container-fluid">
  <div class="row">
  	<div class="col-md-12">
      <div class="well bs-component">
      	<form action="/food/{{food.slug}}/edit" method='POST'>
      		<fieldset>
            <legend class="center-it">Edit a Product</legend>
            <!-- Form Group 1-->
            <div class="form-group col-lg-12">
              <label for="name" class="col-lg-1 col-lg-offset-3">Name</label>
              <div class="col-lg-4">
	              <input type="text" class="form-control" name="name" id="name" value="{{food.name}}" placeholder="Enter the Food Name" required>
              </div>              
            </div>  

						<!-- Form Group 2-->
            <div class="form-group col-lg-12">
              <label for="photo" class="col-lg-1 col-lg-offset-3">Photo URL</label>
              <div class="col-lg-4">
	              <input type="text" class="form-control" name="photo" id="photo" value="{{food.photo}}" placeholder="Enter a Photo URL" required>
              </div>
            </div>

						<!-- Form Group 3-->
            <div class="form-group col-lg-12">
              <label for="recommendedBy" class="col-lg-1 col-lg-offset-3">Recommended By</label>
              <div class="col-lg-4">
	              <input type="text" class="form-control" name="recommendedBy" id="recommendedBy" value="{{food.recommendedBy}}" placeholder="Enter Your Name" required>
              </div>
            </div> 

						<!-- Form Group 4 - Submit-->
            <div class="form-group col-lg-12">
              <div class="col-lg-4 col-lg-offset-4">
                <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
              </div>
            </div>                         

      		</fieldset>
      	</form>
      </div>
    </div>
  </div>
</div>


