<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{pageTitle}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!--bootstrap css-->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- custom css -->
        <link rel="stylesheet" href="/css/style.css">

        <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>

    <!-- start header - available for all pages -->
    <div class="header">
        <div class="navbar-left">
            <a href="/">
                <img src="/img/home.png" height="32">
            </a>       
        </div>        
        <div class="logo">
            <a href="/">
                <img src="/img/logo.png" height="40" >
            </a>            
        </div>
        <div class="navbar-right">
            <a href="/add">Add a Product</a>
        </div>
    </div>
    <!-- end header - available for all pages --> 

    <!-- custom templates come here -->
        {{{yield}}}

    </body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

    <script src="/js/vendor/bootstrap.min.js"></script>

    <!-- form validation -->
    <script src="/js/vendor/jquery.validate.min.js"></script>

    <!-- custom js -->
    <script src="/js/main.js"></script>
</html>
